services:
  opensearch:
    image: opensearchproject/opensearch:2.13.0
    environment:
      - discovery.type=single-node
      - plugins.security.disabled=true
      - OPENSEARCH_JAVA_OPTS=-Xms512m -Xmx512m
    ports:
      - "9200:9200"
    healthcheck:
      test: ["CMD-SHELL", "curl -s http://localhost:9200 >/dev/null || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 20

  api:
    build: .
    ports:
      - "8000:8000"
    environment:
      - ENV=local
      - LOG_LEVEL=INFO
      - LOG_JSON=true
      - OPENSEARCH_HOST=opensearch
      - OPENSEARCH_PORT=9200
      - OPENSEARCH_AUTH_MODE=none
      - OPENSEARCH_USE_SSL=false
      - OPENSEARCH_VERIFY_CERTS=false
      - OPENSEARCH_INDEX=lexguard-docs
      - BEDROCK_ENABLED=false
    depends_on:
      opensearch:
        condition: service_healthy
